.about-me{
    height: 100%;
    background-color: rgb(34, 65, 92);
    padding-inline: 10%;
}

.pic{
    height: 300px; 
    width: 300px;
    background-color: black;
}


@media (max-width: 320px) {
    .the-img{
        width: 70;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 5px;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
     }
  }