.foot-container{
    background-color:rgb(101, 101, 66);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;flex-direction: column;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
}
.contact{
    color:#E5E4E6;
    
}

.my-footer{
    display: flex;
    justify-content: center;

}
.footer-icon{
padding-inline: 10px;
padding-bottom: 25px;
}