.body-div{
    background-color: rgb(34, 65, 92);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects{
    color: #E5E4E6;
    padding-inline: 10%;
}