.project-container{
    height: 100%;
    background-color: rgb(34, 65, 92);
    display: flex;
    flex-direction: column;
}

.my-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}