.project-container{
    height: 100%;
    background-color: rgb(34, 65, 92);
    display: flex;
    flex-direction: column;
    /* padding-inline: 10%; */
}

.my-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proj-card{
    max-width: 345;
    min-width: 345;
    margin: 3; 
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3) !important;
}

@media screen and (max-width: 992px) {
    
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    
  }